########################################################
# .NET
########################################################

bin/
obj/
*.user
*.suo
*.userprefs
*.csproj.user
*.dbmdl
*.pdb
*.cache
*.log

# Rider / VS
.idea/
.vs/

########################################################
# ASP.NET Core
########################################################

appsettings.Development.json
appsettings.*.Local.json

# Logs
logs/
*.log

########################################################
# Node / Angular
########################################################

node_modules/
dist/
.angular/
.angular/cache/
coverage/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

########################################################
# VS Code
########################################################

.vscode/*
!.vscode/extensions.json

########################################################
# OS Files
########################################################

.DS_Store
Thumbs.db

########################################################
# Environment Files
########################################################

.env
.env.*